h1{
  margin: "0 auto;";
  text-align: center;
  color: rgba(194, 191, 10, 0.801)
}
h2{
  margin: "0 auto;";
  text-align: center;
  color: rgb(226, 208, 226)
}
h3{
  margin: "0 auto;";
  text-align: center;
  color: rgb(44, 148, 148)
}
h4{
  margin: "0 auto;";
  text-align: center;
  color:rgb(45, 189, 189)
}
h5{
  margin: "0 auto;";
  text-align: center;
  color:rgb(221, 127, 127);
}
h6{
  margin: "0 auto;";
  text-align: center;
  color: rgb(235, 247, 77)
}
.text{
  text-decoration: line-through;
  color: rgb(7, 8, 8)
}
.text-blue{
  color: rgb(178, 248, 15)
}
.text-white{
  color: burlywood
}
.text-first-chapter{
  color: rgb(252, 214, 92)
}
.text-second-chapter{
  color:rgb(211, 190, 209)
}
.text-third-chapter{
  color: rgb(225, 245, 135)
}
.text-fourth-chapter{
  color: rgb(221, 220, 210)
}
.text-fifth-chapter{
  color: orangered
}
li{
  color: green
}
ul{
  color: brown
}
body{
  background-color: rgb(7, 6, 6);
  background-image: url(img/bg.jpg);
}
header{
  width: 100px;
  height: 0px;
  margin: "0 auto;";
  text-align: center;
}