* {
  padding: left;
  margin: 0;
}
section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  max-width: 500px;
  margin: auto;
  text-align: left;
  font-family: sans-serif;
  display: inline-block;
}
img {
  width: 100%;
}
h1 {
  color: black;
}
p {
  padding: 6px;
  font-size: 15px;
  color: black;
  margin: 50px;
  text-align: left;
}
.price {
  color: black;
  font-size: 18px;
  text-align: left;
}
.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: #fff;
  background-color: orange;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.img-box{
  display: inline-block;
}
.but{
  max-width: 250px;
}