
.block{
  display: flex;
  border: 1px solid #f6f6f6;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  margin: 20 auto;
  background-color: #f6f6f6;
}
.element{
  height: 400px;
  background-color:#f6f6f6;
}
.price{
  font-size: 20px;
  display:block;
  text-align: center;
}
button{
  display:block;
  margin: 0 auto;
  padding: 15px;
  outline: none;
  background:#f6f6f6;
  cursor: pointer;
  color: aqua;
}
h2{
  display:block;
  margin: 30 auto;
  text-align: center;
}
.item{
  display:block;
  text-align: center;
}
body{
  background-color: #f6f6f6;
}